<p id="notice"><%= notice %></p>


<div class='proj-container'>
  <% @projects.shuffle.each do |project| %>
    <div class='proj <%= 'proj-' + project.id.to_s %>'>
      
      <% if project.unique %>
        <%= link_to image_tag(project.name + '.png'), project, data: { no_turbolink: true } %>
      <% elsif project.external_link.length > 0 %>
        <%= link_to image_tag(project.name + '.png'), project.external_link %>
      <% else %>
        <%= image_tag(project.name + ".png") %>
      <% end %>

      <div class='project-name'><%= project.name %></div>
      
      <% if false %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Project', new_project_path %>
