<p id="notice"><%= notice %></p>

<div class='proj-container'>
  <% @projects.each do |project| %>
    <div class='proj <%= 'linky' if project.unique || project.external_link != '' %>'>

      <% if project.unique %>
        <%= link_to image_tag(project.name + '.png'), project, data: { no_turbolink: true } %>
      <% elsif project.external_link.length > 0 %>
        <%= link_to image_tag(project.name + '.png'), project.external_link %>
      <% else %>
        <%= image_tag(project.name + ".png") %>
      <% end %>
      
  
    </div>
  <% end %>
</div>
<br>
