<p id="notice"><%= notice %></p>

<div class='proj-container'>
  <% @projects.reverse.each do |project| %>
    <div class='proj proj-<%= project.id %>'>

      <% if project.unique %>
        <%= link_to image_tag(project.name + '.png'), project, data: { no_turbolink: true } %>
      <% elsif project.external_link.length > 0 %>
        <%= link_to image_tag(project.name + '.png'), project.external_link %>
      <% else %>
        <%= image_tag(project.name + '.png', :class => 'original ' + project.name) %>
        <%= image_tag(project.name + '2.png', :class => 'hover ' + project.name + '2') %>
      <% end %>
  
    </div>
  <% end %>
</div>
<br>
