<!DOCTYPE html>
<html>
<head>
  <title>Under Construction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header class='header-nav'>
    <div class='nav-btn'><%= link_to 'Home', root_path %></div>
  </header>


 <div class='body'> 
   <%= yield %>
 </div>


</body>
  <% unless @project %>
    <footer>
      Designed by Si Cheng Zhou
    </footer>
  <% end %>
</html>
